*.sw*
/dist
cabal.sandbox.config
.cabal-sandbox/
.stack-work/
bugs/
examples/Arith
examples/ArithFloat
examples/Bicomplex
examples/Bools
examples/Composition
examples/Curry
examples/Div
examples/GCD
examples/Geometry
examples/Heaps
examples/HugeLists
examples/HugeListsMono
examples/IntSet
examples/ListHOF
examples/ListMonad
examples/Lists
examples/Octonions
examples/OctonionsGroupy
examples/Parsing
examples/PrettyPrinting
examples/PrettyPrintingModel
examples/Queues
examples/QuickSpecConditionalBenchmarks/
examples/Regex
examples/Sorted
examples/TinyWM
examples/Zip
examples/tests/AC
examples/tests/ArithFloat
examples/tests/Combinators
examples/tests/Composition-bad
examples/tests/Const
examples/tests/Head
examples/tests/MinMax
examples/tests/Pairs
examples/tests/PrettyPrinting-warnings
examples/tests/Refinements
examples/tests/Sorted-typeclass
examples/tests/TypeClass
examples/old-examples
hacking-guide/
statem-laws/
