*.sw*
/dist
examples/*
!examples/*.hs
!examples/tests
examples/tests/*
!examples/tests/*.hs
!examples/tests/run
!examples/tests/update
!examples/tests/*.output
!examples/weird
examples/weird/*
!examples/weird/*.hs
cabal.sandbox.config
.cabal-sandbox/
.stack-work/
